@use "sass:math";

@mixin line-clamp($lines) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin btn ($padding, $height, $fz) {
    display: inline-block;
    padding: 0 $padding;
    line-height: $height;
    font-size: $fz;
    font-weight: 700;
    letter-spacing: 0.5px;
    white-space: nowrap;
    border: 1px solid $primary;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

@mixin btnPlay($length) {
    position: relative;
    padding-left: 4px;
    display: inline-flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: $length;
    height: $length;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    cursor: pointer;

    &:hover {
        &::after {
            position: absolute;
            width: $length + 32px;
            height: $length + 32px;
            border-radius: 50%;
            left: calc(-25% - 4px);
            content: '';
            background: #FF3F3A;
            opacity: 0.12;
        }
    }
}


@mixin landscape {
    @media screen and (orientation:landscape) and (max-height: 415px) {
        @content;
    }
}

@mixin portrait {
    @media screen and (orientation:portrait) and (min-height: 768px) {
        @content;
    }
}

@mixin mediaMin($screen) {
    @media only screen and (min-width: $screen) {
        @content;
    }

}

@mixin mediaMax($screen) {
    @media only screen and (max-width: $screen) {
        @content;
    }
}