@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import './reset';
@import './variables';
@import './mixins';

body,
html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: $gray-800;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

button {
  cursor: pointer;
}

input:focus {
  border: 1px solid rgba(255, 63, 58, 0.4);
  border-radius: 4px;
  box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.08), 0px 30px 24px -10px rgba(255, 63, 58, 0.05), 0px 12px 10px -6px rgba(255, 63, 58, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.burger {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  background-image: url('../images/icons/burger-menu.svg');
  @extend %bg-position;
  background-color: transparent;
  border: transparent;
  z-index: 5;

  &--open {
    background-image: url('../images/icons/cross.svg');
  }

  @include mediaMin(992px) {
    display: none;
  }
}

.btn {

  &--gradient {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    color: $white;
    transition: all 0.3s ease-out;

    &:hover {
      opacity: 0.8;
      transition: all 0.3s ease-out;
    }
  }

  &--light {
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transition: all 0.3s ease;

    &:hover {
      background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
      -webkit-background-clip: padding-box;
      -webkit-text-fill-color: white;
      background-clip: border-box;
      animation: animateBg 2s linear-gradient;
    }

  }
}

@keyframes animateBg {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 50% 0;
  }

  100% {
    background-position: 100% 0;
  }
}

.padding {
  padding-top: 70px;

  @include mediaMin(992px) {
    padding-top: 180px;
  }
}

.mb {
  margin-bottom: 30px;

  @include mediaMin(768px) {
    margin-bottom: 60px;
  }
}


.title,
.subtitle {
  color: $gray-900;
}

.title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

.subtitle {
  font-size: 32px;
  font-weight: 900;

  @include mediaMin(992px) {
    font-size: 46px;
  }
}

.head-block {
  margin-bottom: 30px;

  @include mediaMin(768px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
  }
}

.explore {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  @include mediaMin(768px) {
    gap: 40px;
  }

  &__btn {
    @include btn(40px, 52px, 16px);
  }
}

.checkbox {
  position: relative;
  width: 0;
  height: 0;

  &::after {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    border: 1px solid $gray-300;
    background-color: $white;
  }

  &:checked {
    &:after {
      background-color: $primary;
      content: url('../images/icons/mark.svg');
    }
  }
}

.brands-item {
  max-width: 120px;
  width: 100%;
  object-fit: cover;
  height: 64px;
  filter: grayscale(1);
  transition: all 0.2s ease-in-out;

  &:hover {
    filter: grayscale(0);
    transition: all 0.2s ease-in;
  }
}

.search-wrap {
  position: relative;
}

.btn-search {
  position: absolute;
  background-image: url(../images/icons/search.svg);
  width: 16px;
  height: 16px;
  top: 12px;
  right: 16px;
  @extend %bg-position;
  background-color: transparent;
  border-color: transparent;
  outline: transparent;
}